parameters:
    level: max
    paths:
        - src
        - tests
        - examples
        - demo
        - tools
    checkMissingOverrideMethodAttribute: true
    reportUnmatchedIgnoredErrors: false
